<div class="container">
    <div class="row">
        <h3 class="compTitle">Resultados</h3>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Introdução</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Educação Financeira</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Financeiro na Pratica</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-2" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Economizando</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3 mt-2" *ngFor="let a of algebra">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title studentInfoTitles">{{a.QuizID}}</h5>
                                    <h3 class="completedSubT">Concluido</h3>
                                    <a [routerLink]="['/student/performance/results', a.QuizID]" class="btn btn-primary">Resultado</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3 mt-2" *ngFor="let g of geometry">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title studentInfoTitles">{{g.QuizID}}</h5>
                                    <h3 class="completedSubT">Concluido</h3>
                                    <a [routerLink]="['/student/performance/results', g.QuizID]" class="btn btn-primary">Resultado</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3 mt-2" *ngFor="let n of number">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title studentInfoTitles">{{n.QuizID}}</h5>
                                    <h3 class="completedSubT">Concluido</h3>
                                    <a [routerLink]="['/student/performance/results', n.QuizID]" class="btn btn-primary">Resultado</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3 mt-2" *ngFor="llet s of stats">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title studentInfoTitles">{{s.QuizID}}</h5>
                                    <h3 class="completedSubT">Concluido</h3>
                                    <a [routerLink]="['/student/performance/results', s.QuizID]" class="btn btn-primary">Resultado</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center">
        <img src="../assets/images/formiga1.png" style="width: 345px;" alt="logo">
    </div>
</div>