<div class="container">
    <div class="row">
        <h1 class="compTitle">Mentoria </h1>
        <div class="text-center">
        <br>
        <div class="row">
            <div class="col-sm-6">
              <div class="card text-white bg-success mb-9">
                <div class="card-body">
                  <h4 class="card-title">Adicionar Metas</h4>
                  <a href="#" class="btn btn-primary">Clique Aqui</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card text-white bg-warning mb-9">
                <div class="card-body">
                  <h4 class="card-title">Visualizar Metas</h4>
                  <a href="#" class="btn btn-primary">Clique Aqui</a>
                </div>
              </div>
            </div>
          </div>
          <img src="../assets/images/formiga22.png" style="width: 845px;" alt="logo">
        </div>
       
    
       
    </div>
</div>

