.login {
	background: linear-gradient(-45deg, #00334E, #0d6e8d, #00334E, #073b4c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.inputScale{
    width: 100% !important;
  }
